
header {
    background: $nav-bg;
}

.nav_wrap {
    @include outer-container;

    nav {
        @include span-columns(10);
        @include shift(1);
        ul {
            margin: 1em 0;
            li {
                border-bottom: dotted 1px $nav-border-color;
                text-align: left;
                &:last-of-type {
                    border: none;
                }
                a {
                    color: $nav-link-color;
                    display: block;
                    padding: 1.3em;
                    position: relative;
                    padding-left: 0;
                    transition: color 0.5s ease;
                    &:after {
                        font-family: FontAwesome;
                        content: "\f105";
                        display: inline-block;
                        position: absolute;
                        right: 0;
                    }
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}