/* COLORS ---------------------------------------------------------- */
$white: #fff;
$black: #000;

$light-gray:#D5D7DD;
$teal:#1babb7;
$light-green:#6ab29f;
$dark-gray:#333a3e;
$red:#d0482b;
$off-black:#231f20;

$colors: $light-gray, $teal, $light-green, $dark-gray, $red, $off-black;

// Highlighted Text
$selection-bg: #ededff;

/* Font Colors ---------------------------------------------------------- */
$body-color: #333;

// Nav Colors
$nav-bg: #242830;
$nav-link-color: rgba(255, 255, 255, 0.6);
$nav-border-color: rgba(255, 255, 255, 0.6);